/* GAME MENU: */
#game-menu {
    display: grid;
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    grid-template-columns: 3fr 2fr 2fr 2fr;
    padding: 80px 80px;
    gap: 20px;
    background: linear-gradient(180deg, rgba(48, 30, 3, 0.4) 0%, rgba(50, 50, 50, 0.8) 100%);;
  }
  #game-menu .status {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%);
    font-style: italic;
  }
  #game-menu section {
    border: 1px solid white;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px 20px;
  }

  #game-menu .equipment {
  }
    #game-menu .equipment .available-equipment {
      display: flex;
      gap: 8px;
      .equ-badge img {
        width: 40px;
      }
      .equ-badge.equipped {
        border: 1px solid var(--avern-red);
      }
    }
    #game-menu .equipment .tool-name {
      font-family: Arial, sans-serif;
      font-weight: normal;
      color: white;
      font-size: 14px;
      margin-bottom: 24px;
    }
    #game-menu .equipment .tool-name span {
      font-weight: bold;
    }

  #game-menu .equipment .action {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
  }
    #game-menu .equipment .action .action-descript {
        margin-bottom: 8px;
      }
      #game-menu .equipment .action .action-descript span {
        font-weight: bold;
        margin-right: 8px;
      }

  #game-menu .equipment {
  }

  #game-menu .xp {}
  #game-menu .xp header p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 120%;
  }

  #game-menu .xp .attribute {
    margin-bottom: 20px;
  }
  #game-menu .xp .attribute .value {
    margin-left: 20px;
  }
  #game-menu .xp .level-up {
    background-color: yellow;
    border: none;
    width: 100%;
    height: 40px;
  }
  #game-menu .xp .level-up.blocked {
    background-color: darkgoldenrod;
  }
  

  #game-menu .inventory {
    display: flex;
  }
  #game-menu .inventory .gm-item {
    position: relative; 
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 30px;
  }
  #game-menu .inventory img {
    width: 50px;
  }
  #game-menu .inventory p {
    font-size: 10px;
    
  }

  #game-menu .pause {
    display: flex;
    flex-direction: column;
  }
  .pause button {
    background: none;
    border: none;
    text-align: left;
    color: white;
    margin-bottom: 40px;
    font-size: 120%;
  }
  